
#modal-confirmar-exclusao {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.15);
    z-index: 1050;
}
#modal-confirmar-exclusao.show {
    display: flex;
}